body { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, #B3FFAB, #12FFF7);
}

.container {
    width: 445px;
    height: 325px;
    display: flex;
    box-shadow:  0 0 1em #704c5e;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-image: linear-gradient(-45deg, #ffff, rgb(233, 233, 233));
}

.main-text{ 
    font-family: 'Enriqueta', arial, serif;
    font-size: xx-large;
    height: 150px;
}

.text-container {
    height: 700px;
    width: 210px;
}

#altura-txt { 
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#peso-txt {  
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn { 
    height: 1cm;
    width: 95px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(-45deg, #B3FFAB, #12FFF7);
}

#center { 
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.resultado { 
    justify-content: center;
    align-content: center;
    align-items: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: max-content;
}

#input-altura { 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
}

#input-peso { 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
}